@{
    ViewData["Title"] = "Contact";
}
<p class="felso">
    Köszöntelek az oldalon!
</p>
<p class="also">
    Itt vannak a hírek
</p>

<a href="" class="gomb">Új hír</a>
<a href="" class="gomb">Hírek szerkesztése</a>
<a href="" class="gomb">Admin mód bekapcsolása</a>

<div class="tabla">
    <table class="tablazat">
        <tr>
            <th>Név</th>
            <th>Életkor</th>
            <th>Foglalkozás</th>
            <th>Magasság</th>
        </tr>
        <tr>
            <td>Béla</td>
            <td>43</td>
            <td>portás</td>
            <td>189</td>
        </tr>
        <tr>
            <td>Béla</td>
            <td>43</td>
            <td>portás</td>
            <td>189</td>
        </tr>
        <tr>
            <td>Béla</td>
            <td>43</td>
            <td>portás</td>
            <td>189</td>
        </tr>
    </table>
</div>

